<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <display-name>baoveCSDL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtocartServlet</display-name>
    <servlet-name>addtocartServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.addtocartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocartServlet</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tongtienservlet</display-name>
    <servlet-name>tongtienservlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.tongtienservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tongtienservlet</servlet-name>
    <url-pattern>/tongtien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quantityIncDecServlet</display-name>
    <servlet-name>quantityIncDecServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.quantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quantityIncDecServlet</servlet-name>
    <url-pattern>/quantityInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/OrderNow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutCT</display-name>
    <servlet-name>OutCT</servlet-name>
    <servlet-class>baoveCSDL.servlet.OutCTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutCT</servlet-name>
    <url-pattern>/OutCT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearch</display-name>
    <servlet-name>ProductSearch</servlet-name>
    <servlet-class>baoveCSDL.servlet.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearch</servlet-name>
    <url-pattern>/ProductSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chitiet</display-name>
    <servlet-name>chitiet</servlet-name>
    <servlet-class>baoveCSDL.servlet.chitietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chitiet</servlet-name>
    <url-pattern>/chitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductTim</display-name>
    <servlet-name>ProductTim</servlet-name>
    <servlet-class>baoveCSDL.servlet.ProductTimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductTim</servlet-name>
    <url-pattern>/ProductTim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themproduct</display-name>
    <servlet-name>themproduct</servlet-name>
    <servlet-class>baoveCSDL.servlet.themproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themproduct</servlet-name>
    <url-pattern>/themproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSearch</display-name>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>baoveCSDL.servlet.UserSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/UserSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoakhoiDH</display-name>
    <servlet-name>xoakhoiDH</servlet-name>
    <servlet-class>baoveCSDL.servlet.xoakhoiDHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoakhoiDH</servlet-name>
    <url-pattern>/xoakhoiDH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addContac</display-name>
    <servlet-name>addContac</servlet-name>
    <servlet-class>baoveCSDL.servlet.addContacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addContac</servlet-name>
    <url-pattern>/addContac</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themProductRServlet</display-name>
    <servlet-name>themProductRServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.themProductRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themProductRServlet</servlet-name>
    <url-pattern>/themProductRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete-product</display-name>
    <servlet-name>delete-product</servlet-name>
    <servlet-class>baoveCSDL.servlet.deleteproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete-product</servlet-name>
    <url-pattern>/delete-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePRDR</display-name>
    <servlet-name>deletePRDR</servlet-name>
    <servlet-class>baoveCSDL.servlet.deletePRDRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePRDR</servlet-name>
    <url-pattern>/deletePRDR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themPagesServlet</display-name>
    <servlet-name>themPagesServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.themPagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themPagesServlet</servlet-name>
    <url-pattern>/themPages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteContactServlet</display-name>
    <servlet-name>deleteContactServlet</servlet-name>
    <servlet-class>baoveCSDL.servlet.deleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteContactServlet</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestReportServlet</display-name>
    <servlet-name>TestReportServlet</servlet-name>
    <servlet-class>baoveCSDL.TestNGServlet.TestReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestReportServlet</servlet-name>
    <url-pattern>/TestReportServlet</url-pattern>
  </servlet-mapping>
</web-app>